#fechan {
    display: none;

}

#fechal {
    display: none;

}

#hoja {
    display: none;

}

#hojal {
    display: none;

}

#e_civil {
    display: none;

}

#e_civill {
    display: none;

}

#profesion {
    display: none;

}

#profesionl {
    display: none;

}

#telefono {
    display: none;

}

#telefonol {
    display: none;

}