<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid  ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">cliente</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">citas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ">??????????</a>
                        </li>



                    </ul>
                    <form class="d-flex">
                        <li class="nav-item dropdown">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                perfil
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                    class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" href="/perfil_admin.html">perfil</a></li>
                                <li><a class="dropdown-item" href="#">chat</a></li>
                                <li><a class="dropdown-item" href="#">configuracion</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/logout">cerrar sesion</a></li>
                            </ul>
                        </li>
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

    </div>

    {% block content %}
    <h2>Home Page</h2>
    <p>Welcome back, {{ correos }}</p>
    {% endblock %}


    <div class="container mt-5 bg-white h-25 w-75 ">
        <h3>usuarios</h3>
        <div class="d-md-flex">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="width: 4000px; max-height: 300px;">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">genero</th>
                            <th scope="col">nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">correo</th>
                            <th scope="col">contraseña</th>
                            <th scope="col">id_rol</th>

                        </tr>
                    </thead>
                    {% for datos in datostablausu%}
                    <tbody>


                        <tr>
                            <td>{{datos.0}}</td>
                            <td>{{datos.1}}</td>
                            <td>{{datos.2}}</td>
                            <td>{{datos.3}}</td>
                            <td>{{datos.4}}</td>
                            <td>{{datos.5}}</td>
                            <td>{{datos.6}}</td>
                            <td>{{datos.7}}</td>
                            <td>{{datos.8}}</td>
                        </tr>

                    {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>







</body>

</html>